@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy: #07152f;
  --yellow: #f6be00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background: #0f172a;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}